#tour{width:163px;height:auto;background:#f0f0f0;float:left;margin:15px 15px 0 0;}
#tour img{width:163px;height:163px;}
.p1_tour{font-family:Lucida Sans Unicode;font-size:14px;color:#0bb193;margin:5px 5px 10px 5px;}
.p2_tour{font-family:Lucida Sans Unicode;font-size:13px;color:#aeaeae;margin:15px 0 0 5px;}